body {background-color:#d9d9d9 }
#header-nav {
background-color: #cc99ff;
margin-top:-20px;
margin-left:0;
margin-right:-8px;
height:150px;
}

#collapsable-nav {background-color:white;	
text-align:center;}

hr {
  border-color: 2px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.row {
	height:auto;
	width:100%; 
}
# dropdown-menu {backgroud-color:white;}

* {text-decoration: none;}

h1 {margin-top:50px;
	float:left;}


h2 {margin-bottom:50px;
margin-top:20px;}

h3 {text-align: center;}


section {
	height: auto;
	position: relative;
	overflow: auto;width: 100%}

.navbar-header h1 {color: black;
text-decoration:none;}

.navbar-header a:hover, .navbar-header a:focus {text-decoration: none;}
	


